

    <div class="row">

        
     <div class="img col-lg-4">
         <h2>System.out.println("Hello Everyone.....Happy Coding!!");</h2>
         <br/><br><br><br>
        <img src="../assets/images/mine.jpg" height="450px" width="350px" style="border-radius: 6px;" alt="hariom" >
     </div>

        <div class="col-lg-8">
            <h1 >About This Application</h1>
            <hr/>
            <p class="lead  mb-0">It's an Angular and Springboot based E-ticket Booking Crud Application. It is still on development Stage and i am going to add some more functionalities to this application by integreating 3rd Party Apis and other usefull features like login ,signup and printing and others.... very soon.</p>
                <p>i have made this application using react and laravel framework also where you can Track the Covid-19 affected cases globaly and also for state wise cases for india.you can check weather information of all the locations and according to that you can book your tickets.I have made a E-pass admin portal on different platform where these booking details will be stored and  reflected and than admin will contact you with the details and confirmation.<br/> This Application is still on development stage. </p>
            <h4><b>for more details cheak my github profile: <a href="https://github.com/HarsH-OhM/React-Covid19-E-ticket-Booking-site-1.0">click here!</a></b></h4>

    
            <div class="panel panel-danger">
                <div class="panel-body" style="background-color: khaki;">
     <h1 >About me</h1>
     <div class="lead  mb-0">
     <p><b>Chandra</b></p>
     <p>Trainer-Java Full Stack</p>
     <p>Contact:chandrabhanu25@gmail.com</p>
     <p><b>linkedin Profile:<a href="https://www.linkedin.com/in/chandra-bhanu-49293740/">click here!</a></b></p>
    </div>
    
    </div>
    
    </div>

    

     </div>

    
         

