<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <div class="navbar-nav" style="padding: 15px;">
      <div class="nav-item">
          <a routerLink="bookings" class="nav-link" routerLinkActive="active">Manager View</a>



          <a routerLink="add" class="nav-link" routerLinkActive="active" style="margin-left: 20px">New Employee Avail Benefit</a>



        <!-- <a routerLink="about" class="nav-link" routerLinkActive="active" style="margin-left: 20px">About</a> -->
        </div>
      </div>
  </nav>
